body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.dark{
  background-color: #383838;
  color: bisque;
  height: 200px;
  font-size: 28px;
}

.light{
  background-color: bisque;
  color: #383838;
  height: 200px;
  font-size: 28px;
}

.routes{
  height: 400px;
  background-color: #999994;
  color: bisque;
  font-size: 36px;
}

.active{
  color:cornflowerblue;
}

a{
  color:lightblue;
  text-decoration: none;
  margin-left:15px;
}

h3{
  margin:0;
  padding: 0;
}